<div *ngIf="!isLoading" class="layout">
  <app-sidebar *ngIf="isLoging && role === 'Admin'" class="sidebar" [class.collapsed]="isSideNavCollapsed"></app-sidebar>

  <div class="main-content" [class.sidebar-collapsed]="isSideNavCollapsed">
    <app-body *ngIf="isLoging" class="body" [class.collapsed]="isSideNavCollapsed"></app-body>
    <app-clock-in-sale-info *ngIf="isLoging && role === 'User'"></app-clock-in-sale-info>
    <app-login *ngIf="!isLoging"></app-login>
  </div>
</div>


<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" 
     style="height: 100vh; width: 100vw; position: fixed; top: 0; left: 0; background: rgba(255,255,255,0.8); z-index: 1050;">
  <p>Loading...</p>
</div>



<!-- 
<div class="layout">
  <app-sidebar *ngIf="isLoging  && role === 'Admin'"
    class="sidebar" [class.collapsed]="isSideNavCollapsed"></app-sidebar>

  <div class="main-content" [class.sidebar-collapsed]="isSideNavCollapsed">
    <app-body *ngIf="isLoging" class="body"
      [class.collapsed]="isSideNavCollapsed"></app-body>
      <app-clock-in-sale-info *ngIf="isLoging && role === 'User'"></app-clock-in-sale-info>
    <app-login *ngIf="!isLoging"></app-login>
  </div> -->
