<div *ngIf="!isLoading" class="layout">
  <app-sidebar *ngIf="isLoging && role === 'Admin'" class="sidebar" [class.collapsed]="isSideNavCollapsed"></app-sidebar>

  <div class="main-content" [class.sidebar-collapsed]="isSideNavCollapsed">
    <app-body *ngIf="isLoging" class="body" [class.collapsed]="isSideNavCollapsed"></app-body>
    <app-clock-in-sale-info *ngIf="isLoging && role === 'User'"></app-clock-in-sale-info>
    <app-login *ngIf="!isLoging"></app-login>
  </div>
</div>


<div *ngIf="isLoading" class="loading-screen" style="text-align: center;">
  <p>Loading...</p>
</div>


<!-- 
<div class="layout">
  <app-sidebar *ngIf="isLoging  && role === 'Admin'"
    class="sidebar" [class.collapsed]="isSideNavCollapsed"></app-sidebar>

  <div class="main-content" [class.sidebar-collapsed]="isSideNavCollapsed">
    <app-body *ngIf="isLoging" class="body"
      [class.collapsed]="isSideNavCollapsed"></app-body>
      <app-clock-in-sale-info *ngIf="isLoging && role === 'User'"></app-clock-in-sale-info>
    <app-login *ngIf="!isLoging"></app-login>
  </div> -->
